.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgb(182, 182, 182, 0.8);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    


    span {
        font-size: 32px;
        margin-left: 12px;
        
    }

    img {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        object-fit: cover;
        margin: 4px;
    }
}

.player-active {
    background-color: red !important;
}