.player {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(206, 38, 38, 0.582);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    


    span {
        font-size: 32px;
        margin-left: 12px;
    }

    img {
        height: 70px;
        width: 70px;
        border-radius: 100%;
        object-fit: cover;
        margin: 4px;
    }
}

.player-active {
    background-color: red !important;
}


@media (max-width: 700px) {
    .player {
        width: 175px;



        img {
            height: 50px;
            width: 50px;
            margin: 2px
        }

        span {
            font-size: 24px;
            margin-left: 10px;
        }
    }
}

@media (max-width: 400px) {
    .player {
        width: 150px;



        img {
            height: 50px;
            width: 50px;
            margin: 2px;
        }

        span {
            font-size: 24px;
            margin-left: 1px;
        }
    }
}
