<div class="start-screen">
    <img class="logo" src="assets/img/startscreen.png">
    <div class="start-label-box">
        <img (click)="newGame()" src="assets/img/label.png">
    </div>
    <span class="licenses" (click)="toggleLicensContainer()"> - Copyright - </span>
</div>

<div class="licens-container" [ngClass]="{'active': licensContainerActive}">
    <img src="assets/img/X.png" class="close-button" (click)="closeLicensContainer()">
    <span>Images from pixabay.com</span>
    <span>Icons from icons8.de</span>
    <span>Card stack back by "jeffshee" from opengameart.org</span>
</div>